.pannel{
	width: 95%;
	margin: 0 auto;
	padding: 100px 0 0 0;
	display: flex;
	flex-wrap: wrap;
}

.pannel__title{
	width: 26%;
	font-size: 1.5em;
}

.pannel__img_block{
	padding-top: 40px;
	margin: 12px 0 0 40px;
	border-top: 2px solid gray;
}


.pannel__img_block :nth-child(1){
  	margin-left: 0;
 }


.pannel__img{
	margin-left: 20px;
}

.la{
	background: red;
}

@media screen and (max-width: 1350px){

	.pannel{
		padding: 30px 0 0 0;
	}

	.pannel__title{
		width: 100%;
	}
  
  	.pannel__img_block{
		border-top: none;
		padding: 20px 0 0 0;
		margin: 0;
  	}

}



@media screen and (max-width: 960px){

	.pannel{
		width: 590px;
	}

	.pannel__img_block :nth-child(3){
  		width: 515px;
  		margin-top: 20px;
  	}

  	.pannel__img_block :nth-child(1){
  		margin-left: 20px;
  	}
  
	.pannel__img{
		margin-top: 20px;
	}
}

@media screen and (max-width: 600px){

	.pannel{
		width: 70%;
	}

	.pannel__img{
		width: 100%;
		margin-left: 0;
	}

	.pannel__img_block :nth-child(1){
  		margin-left: 0;
  	}

	.pannel__img_block :nth-child(3){
  		width: 100%;
  	}
}


@media screen and (max-width: 400px){

	.pannel{
		width: 95%;
	}

}