

.pannel{
	display: flex;
	width: 96%;
	height: 489px;
	margin: 0 auto;
}

.pannel_description{
	width: 68%;
	margin: 0 2% 0 0;
}

.pannel_sidebar{
	width: 30%;
	border: 2px solid black;
}

.pannel_description__main_block{
	width: 100%;
	height: 409px;
	padding-top:100px;
	background-color: #F9F0DD;
}

.pannel__lang{
	display: inline-block;
	width: 109px;
	height: 22px;
	margin-top: 50px;
}

.pannel__lang_first{
	margin-left: 10px;
	color: gray;
	width: 40px;
	height: 20px;
	display: inline-block; 
	text-decoration: none;
}

.pannel__lang_second{
	width: 40px;
	height: 20px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

.pannel__lang_first:after{
	content:"/";
	font-size: 1.25em;
}

.pannel_description__button{
	display: inline-block;
	width: 254px;
	height: 51px;
	border: 2px solid #3C3C43;
	margin-top: 28px;
	float: right;
	font-size: 1.2em;
	padding-top: 15px;
	text-align: center;
	transition: 2s;
}

.pannel_description__button:hover{
	color: white;
	background-color: #3C3C43;
}

.pannel_description__text{
	font-family: 'Lora';
	font-size: 3.375em;
	font-weight: bold;
	color: #3C3C43;
	max-width: 700px;
	text-align: center;
	margin: 0 auto;
}


@media screen and (max-width: 955px){
	
	.pannel_sidebar{
		position: absolute;
		top: 0;
		right: 0;
		height: 560px;
		width: 360px;
		display: none;
	}	

	.pannel_description{
		width: 100%;
	}	
}


@media screen and (max-width: 585px){
	
	.pannel_description__text{
		text-align: left;
		padding-left: 5%;
	}
}


@media screen and (max-width: 400px){
	
	.pannel__lang{
		display: none;
	}

	.pannel_description__text{
		font-size: 3em;
	}	
}