
.filter{
  width: 95%;
  margin: 0 auto;
  padding: 70px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.filter__title{
  width: 26%;
  font-size: 1.5em;
}

.filter__main_block{
  padding-top: 20px;
  margin: 12px 0 0 40px;
  border-top: 2px solid gray;
}

.filter__menu__title{
  display: inline-block;
}

.filter__menu__list{
  display: inline-block;
  margin-left: 30px;
}

.filter__menu__list li{
  display: inline-block;
  padding: 10px;
}

.filter__menu__item{
  font-size: 1em;
}

.filter__img_block{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.filter__img__cover1,
.filter__img__cover2{
  margin-left: 20px;
}

.filter__img0{
  width: 280px;
  height: 420px;
}

.filter__img1{
  width: 180px;
  height: 220px;
  display: block;
}

.filter__img2{
  width: 180px;
  height: 180px;
  display: block;
  margin-top: 20px;
}

.filter__img3{
  width: 380px;
  height: 160px;
  display: block;
}

.filter__img4{
  width: 380px;
  height: 240px;
  display: block;
  margin-top: 20px;
}


@media screen and (max-width: 1350px){

  .filter{
    padding: 40px 0 0 0;
  }
  
  .filter__main_block{
    border-top: none;
    padding: 0;
    margin: 0;
  }

  .filter__title{
    width: 100%;
  }
}

@media screen and (max-width: 960px){
  
  .filter{
    width: 500px;
  }

  .filter__img3, 
  .filter__img4{
    width: 100%;
    height: 200px;
  }

  .filter__img4{
    height: 280px;
  }

  .filter__img__cover2{
    margin-top: 20px;
    width: 478px;
    margin-left: 0;
  }

  .filter__menu__title{
    margin-top: 20px;
  }

}

@media screen and (max-width: 600px){
  .filter{
    width: 400px;
  }
  
  .filter__img__cover1,
  .filter__img__cover2{
    width: 100%;
    margin-left: 0;
  }

  .filter__img__cover1{
    margin-top: 20px;
  }

  .filter__img0, 
  .filter__img1,
  .filter__img2,
  .filter__img3,
  .filter__img4{
    width: 100%;
  }

  .filter__img0,
  .filter__img1{
    height: 450px;
  }

  .filter__img2{
    height: 370px;
  }

  .filter__img3{
    height: 160px;
  }

  .filter__img4{
    height: 240px;
  }

  .filter__menu__list{
    margin-left: 0;
  }

  .filter__menu__list li{
    padding: 15px 8px;
  }

  .filter__menu__list :first-child{
    padding-left: 0;
  }

}


@media screen and (max-width: 400px){
  .filter{
    width: 95%;
  }

  .filter__menu__list li{
    padding: 15px 6px;
  }

}
