
.content{
	width: 87%;
	margin: 0 auto;
	margin-top: 100px;
	min-height: 600px;
}

.content__description{
	margin-left: 50px;
	margin-right: 15px;
}

.content__title{
	display: block;
	color: #3C3C43;
	font-size: 3em;
	font-weight: bold;
	margin-top: 30px;
}

.content__text1,
.content__text2,
.content__text3{
	padding-top: 15px;
	display: block;
	font-size: 1.25em;
	line-height: 1.6em;
}

.content__text1{
	padding-top: 50px;
}

.content__left_link,
.content__right_link{
	display: inline-block;
	border-bottom: 2px solid #3C3C43;
	color: #3C3C43;
	margin-top: 50px;
	font-size: 1.25em;
	text-align: center;
	padding-bottom: 8px;
}

.content__right_link{
	width: 191px;
	margin-left: 40px;
}

.content__left_link{
	width: 113px;
}

.content__left_link:hover,
.content__right_link:hover{
	color: #3C3CB5;
}

.content__poster{
	float: left;
	margin-right: 2%;
}

@media screen and (max-width: 760px){
	
	.content__poster{
		width: 100%;
		max-height: 400px;
		padding-bottom: 20px;
	}
	
}

@media screen and (max-width: 410px){
	.content{
		width: 95%;
	}
	
	.content__poster{
		height: 250px;
	}

	.content__right_link{
		width: 191px;
		display: block;
		margin-left: 0;
	}	
}
