.menu{
  width: 100%;
  height: 80px;
  display: none;
  background-color: #F8F8FF;
}

.menu__title{
  display: inline-block;
  padding: 25px;
  font-size: 1.5em;
  font-weight: bold;
  width: 89%;
}

.menu__icon{
  vertical-align: middle; 
  display: inline-block;
  background: url("./menu-min.png") no-repeat 0 0;
  width: 7%;
  height: 32px;
}


.none{
	display: none;
}

.block{
	display: block;
}


@media screen and (max-width: 955px){
	
	.menu{
		display: block;
	}
}