

.gallery{
	width: 1050px;
	margin: 0 auto;
	margin-top: 100px;
}

.gallery__title{
	width: 100%;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	color: #3C3C43;
	margin: 0px;
}

.gallery__subtitle{
	width: 100%;
	font-size: 1.25em;
	text-align: center;
	padding-top: 20px;
}

.gallery_block{
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
}

.gallery_block__item1,
.gallery_block__item2,
.gallery_block__item3,
.gallery_block__item4,
.gallery_block__item5,
.gallery_block__item6{
	margin-left: 27px;
	transition: 0.5s;
}

.gallery_block__item4,
.gallery_block__item5,
.gallery_block__item6{
	margin-top: 50px;
}

.gallery_block__item1:hover,
.gallery_block__item2:hover,
.gallery_block__item3:hover,
.gallery_block__item4:hover,
.gallery_block__item5:hover,
.gallery_block__item6:hover{
	box-shadow:
    1px 1px #3C3C43,
    2px 2px #3C3C43,
    3px 3px #3C3C43,
    4px 4px #3C3C43,
    5px 5px #3C3C43,
    6px 6px #3C3C43,
    7px 7px #3C3C43;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

.gallery_photo__caption{
	text-align: center;
	font-size: 1.25em;
	margin-top: 15px;
}

.gallery__button{
	font-size: 1.25em;
	display: block;
	margin: 0 auto;
	width: 207px;
	height: 51px;
	text-align: center;
	border: 2px solid #3C3C43;
	color: #3C3C43;
	margin-top: 30px;
	padding: 12px;
	transition: 2s;
}

.gallery__button:hover{
	color: white;
	background-color: #3C3C43;
}

@media screen and (max-width: 1110px){
	
	.gallery{
		width: 80%;
	}

	.gallery_block__item3{
		margin-top: 50px;
	}
	
}

@media screen and (max-width: 880px){
	
	.gallery_block__item1,
	.gallery_block__item2,
	.gallery_block__item3,
	.gallery_block__item4,
	.gallery_block__item5,
	.gallery_block__item6{
		margin: 0 auto;
		margin-top: 30px;
	}
	
}

@media screen and (max-width: 400px){

	.gallery__title,
	.gallery__subtitle{
		text-align: left;
		margin: 0 auto;
	}


	.gallery{
		width: 100%;
	}
	
	.gallery_block__item1,
	.gallery_block__item2,
	.gallery_block__item3,
	.gallery_block__item4,
	.gallery_block__item5,
	.gallery_block__item6{
		width: 90%;
	}
	
}