
.header{
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	height: 110px;
	margin: 0 auto;
}

.header__title{
	font-size: 2.25em;
	font-weight: bold;
	padding-top: 30px;
	width: 40%;
}

.header__contacts{
	display: block;
	width: 200px;
}

.header__phone{
	padding-top: 30px;
	width: 100%;
	font-size: 1.5em;
}

.header__contacts_text{
	font-size: 1em;
	padding-top: 10px;
	width: 100%;
}

.header__button{
	display: inline-block;
	width: 20%;
	height: 51px;
	border: 2px solid black;
	margin-top: 28px;
	margin-left: 5%;
	float: right;
	font-size: 1.25em;
	padding: 1%;
	text-align: center;
}

.header__lang{
	display: inline-block;
	width: 12%;
	height: 22px;
	margin-top: 40px;
	margin-left: 3%;
}

.header__lang_first{
	margin-left: 10px;
	color: gray;
	width: 40px;
	height: 20px;
	display: inline-block; 
	text-decoration: none;
}

.header__lang_second{
	width: 40px;
	height: 20px;
	display: inline-block;
	text-decoration: none;
	color: black;
}

.header__lang_first:after{
	content:"/";
	font-size: 1.25em;
}

@media screen and (max-width: 1130px){
	
	.header__lang{
		display: none;
	}
}


@media screen and (max-width: 660px){
	
	.header{
		display: none;
	}
}

