.catalog__title{
	font-size: 3em;
	font-weight: bold;
	padding: 20px 0 0 40px;
	font-family: 'Lora';
	color: #4F4F4F;
}

.catalog{
	width: 1400px;
	margin: 0 auto;
}


@media screen and (max-width: 1410px){

	.catalog__title{
		padding: 20px 0 0 10px;
	}

  	
	.catalog{
		width: 100%;
		margin: 0;
	}
 
}